

h1
{
	text-align: center; 
	color: purple;
	font-weight: bold;
	font-family: antique olive;
	font-size: 30px;
	padding-top: 50px;
}
p
{
	text-align: center;
	color: purple;
	font-weight: bold;
	padding-left: 70px;
	font-family: antique olive;

}


