body
{
	padding: 100px;
	background-image: url("white2.svg");
	background-size: cover;
}
.drop
{
	padding-left: 105px;
}
legend
{
	color: purple;
	font-style: italic; 
}
.scroll
{
	overflow: scroll;
	height: 400px;
}
a:link
{
	color: purple;
}
a:hover
{
	color: blue;
}
.link
{
	text-align: center;
	padding-top: 50px;
	font-family: lucida console;
}
.link1
{
	padding-left: 100px;
	float: left;
	padding-top: 100px;
}
h2
{
	text-align: center; 
	color: purple;
	font-weight: bold;
	font-family: antique olive;
	font-size: 25px;
	padding-top: 20px;
}
.p
{
	text-align: center;
	font-family: lucida console;
	font-size: 15px;
}
p
{
	float: right;
	color: purple;
	font-weight: bold;
	padding-left: 20px;

}
.container
{
	border-style: solid;
	border-width: 0px;
	margin-top: 25px;
	margin-left: 350px;
	margin-right: 350px;
	box-shadow: 50px;
	background-color: white;
	padding-left: 80px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: lucida console;
	
}
.container input
{
	margin-bottom: 20px;
}
.container input[type = "text"],
.container input[type = "Password"],
.container input[type = "date"],
.container input[type = "email"]
{

	border: none;
	border-bottom: 2px solid black;
	outline: none;
	height: 30px;
	width: 280px;
}
.container input[type = "text"]:focus,
.container input[type = "Password"]:focus,
.container input[type = "date"]:focus,
.container input[type = "email"]:focus
{
	border-bottom: 2px solid grey;
}
.container input[type ="submit"]
{
	background-color: purple;
	height: 30px;
	width: 285px;
	border: none;
	outline: none;
	font-family: lucida console;
	font-size: 18px;
}
.container input[type = "submit"]:hover
{
	background-color: grey;
	font-family: lucida console;
}
ul
{
	background-color: lightgrey;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 50px;
}
ul li
{
	background-color: lightgrey;
	padding: 5px;
	margin-left: 5px;
}
