{% extends "layout.html" %}
{% block title %} Home Page {% endblock %}

{% block content %}

<h2> Create Your Shopping List With Ease </h2>
<div class="p"><p> Welcome, are you new? <a href="registration.html"> Register </a></p></div>

<form>
Username <br>
<input type="text" name="Username"><br>
Password <br>
<input type="Password" name="pwd"><br>
<input type="checkbox" name="recall" value="Remember me"> Remember me <br><br>
<input type="submit" value="Log In">
</form>

<div class="link">
<a href="lostpwd.html"> Lost Your Password? </a>
</div>

{% endblock %}