{% extends "layout.html" %}
{% block title %} Lost Password {% endtitle %}

{% block content %}

<h2> Can't Access Your Account? </h2>
<hr>
<p> Just provide the following information and we'll send you a new password. </p>

Email Address:<br>
<input type = "Email" name="email"><br>
User Name:<br>
<input type = "text" name="username"><br>
<a href="lostusernm.html"> Forgot Your Username? </a><br><br><br>
<a href="index.html"> Head Back To LogIn </a><br><br><br>
<input type="submit" value="Send Me A New Password">


{% endblock %}