{% extends "layout.html" %}


{% block content %}
<h2 style="color: grey; padding-top: 70px;"> Create Your Own Shoppinglist </h2>
<hr>
<div class="col-md-12" style="padding-top: 80px">
<form action="/createown" method="POST">
<table class='table table-hover table-responsive table-bordered'>
 
<tr>
<td style="color: purple;"> Shoppinglist Name </td>
<td> <input type="text" name="list_name" class="form-control"> </td>
</tr>

<tr>
<td></td>
<td style="color: purple;"> <input type="submit" value="Submit"> </td>
</tr>

</table>
</form>
</div>


{% endblock %}