{% extends "layout.html" %}


{% block content %}
<h2 style="color: grey; padding-top: 70px;"> Pick a Shoppinglist </h2>
<hr>

<div class="col-md-12" style="padding-top: 80px">
<form action="/create" method="POST">
<table class='table table-hover table-responsive table-bordered'>
 
<tr>
<td style="color: purple;"> Shoppinglist Name </td>

<td> 
<select id="catalog" name="catalog">
{% for key in default_lists.iterkeys() %}
<option value="{{key}}">{{key}}</option>
{% endfor %}
</select>
</td>
</tr>

<tr>
<td></td>
<td style="color: purple;"> <input type="submit" value="Submit"> </td>
</tr>

</table>
</form>
</div>


{% endblock %}