{% extends "layout.html" %}


{% block content %}
<div class="col-md-12">
<form action="/edit" method="POST">
<table class='table table-hover table-responsive table-bordered'>
 
<tr>
<td> Shoppinglist Name </td>
<td> <input type="text" name="list_name" class="form-control"> </td>
</tr>

<tr>
<td> New Shoppinglist Name </td>
<td> <input type="text" name="new_list_name" class="form-control"> </td>
</tr>


<tr>
<td></td>
<td> <input type="submit" value="Submit"> </td>
</tr>

</table>
</form>
</div>


{% endblock %}