{% extends "layout.html" %}


{% block content %}
<a href="/view" style="color: black; font-weight: bold; padding-left: 970px; font-size: 18px;"> View Shoppinglists </a>
<h2 style="color: white; padding-top: 70px; font-weight: bold;"> Edit Your Shoppinglist </h2>
<hr>
<div class="col-md-10" style="padding-top: 120px; padding-left: 300px;">
<form action="/edit" method="POST">
<table class='table table-hover table-responsive table-bordered'>
 
<tr>
<td style="color: purple; font-weight: bold; font-size: 17px;"> Shoppinglist Name </td>
<td> <input type="text" name="list_name" class="form-control"> </td>
</tr>

<tr>
<td style="color: purple; font-weight: bold; font-size: 17px;"> New Shoppinglist Name </td>
<td> <input type="text" name="new_list_name" class="form-control"> </td>
</tr>


<tr>
<td></td>
<td style="color: purple; font-weight: bold; font-size: 17px;"> <input type="submit" value="Submit"> </td>
</tr>

</table>
</form>
</div>


{% endblock %}