{% extends "layout.html" %}


{% block content %}
<div class="col-md-12">
<form action="/login" method="POST">
<table class='table table-hover table-responsive table-bordered'>
 
<tr>
<td> Username </td>
<td> <input type="text" name="username" class="form-control"> </td>
</tr>
 
<tr>
<td> Password </td>
<td> <input type="Password" name="pwd" class="form-control"> </td>
</tr>
 
 
<tr>
<td></td>
<td> <input type="submit" value="Log In"> </td>
</tr>
 
</table>
</form>
</div>

<input type="checkbox" name="recall" value="Remember me"> Remember me <br><br>


{% endblock %}
