{% extends "layout.html" %}


{% block content %}
<h2> Sign Up </h2>
<hr>
<div class="col-md-12">
<form action="/registration" method="POST">
<table class='table table-hover table-responsive table-bordered'>
 
<tr>
<td> Username </td>
<td> <input type="text" name="username" class="form-control"> </td>
</tr>

<tr>
<td> Email </td>
<td> <input type="Password" name="pwd" class="form-control"> </td>
</tr>
 
<tr>
<td> Password </td>
<td> <input type="Password" name="pwd" class="form-control"> </td>
</tr>

<tr>
<td> Re-password </td>
<td> <input type="Password" name="pwd" class="form-control"> </td>
</tr>
 
 
<tr>
<td></td>
<td> <input type="submit" value="Submit"> </td>
</tr>
 
</table>
</form>
</div>


{% endblock %}