{% extends "layout.html" %}


{% block content %}
<h2 style="color: grey;"> Sign Up </h2>
<hr>
<div class="col-md-12" style="padding-top: 70px;">
<form action="/registration" method="POST">
<table class='table table-hover table-responsive table-bordered'>
 
<tr>
<td style="color: purple;"> Username </td>
<td> <input type="text" name="username" class="form-control"> </td>
</tr>

<tr>
<td style="color: purple;"> Email </td>
<td> <input type="email" name="email" class="form-control"> </td>
</tr>
 
<tr>
<td style="color: purple;"> Password </td>
<td> <input type="Password" name="pwd" class="form-control"> </td>
</tr>

<tr>
<td style="color: purple;"> Re-password </td>
<td> <input type="Password" name="repwd" class="form-control"> </td>
</tr>
 
 
<tr>
<td></td>
<td style="color: purple;"> <input type="submit" value="Submit"> </td>
</tr>
 
</table>
</form>
</div>


{% endblock %}