{% extends "layout.html" %}


{% block content %}
<a href="/view" style="color: purple; font-weight: bold; padding-left: 930px; font-size: 18px;"> View Previous Page </a>
<div class="row">
<div class="col-md-12" style="padding-top: 80px;">
<div class="panel panel-primary">
<div class="panel-heading">
<span class="glyphicon glyphicon-list"></span>
<div class="pull-center action-buttons">
<div class="btn-group pull-center"></div>
</div>
</div>
{% for item in list_items %}
<div class="panel-body">
<ul class="list-group">
<li class="list-group-item">
<label>
<p> {{ item }} </p></label>
<form action="/deleteitem/{{list_name}}/{{item}}" method="POST">
<button type="submit" class="btn btn-danger">Delete Item </button>
</form>
<div class="link" style="padding-left: 10px; font-weight: bold; padding-top: 5px; font-size: 15px;">
<a href="/edititem/{{list_name}}/{{item}}"> Edit Item </a><br><br>
</div>
</div>
</li>
</ul>
{% endfor %}
</div>
</div>
</div>

{% endblock %}