{% extends "layout.html" %}


{% block content %}
<a href="/createlist" style="color: purple; font-weight: bold; padding-left: 840px; font-size: 18px;"> Create Another Shoppinglist </a>
<div class="row">
<div class="col-md-10" style="padding-top: 70px; padding-left: 100px;">
<div class="panel panel-primary">
<div class="panel-heading">
<span class="glyphicon glyphicon-list"></span>
<div class="pull-right action-buttons">
<div class="btn-group pull-right"></div>
</div>
</div>
{% for key in userlists.iterkeys() %}
<div class="panel-body">
<ul class="list-group">
<li class="list-group-item">
<div class="checkbox">
<input type="checkbox" id="checkbox" />
<label for="checkbox">
<a href="/viewitem/{{key}}"><button type="button" title="Click To View Items"> {{ key }} </button></a>
</label>
<div class="pull-right action-buttons">
<form action="/delete/{{key}}" method="POST">
<button type="submit" class="btn btn-danger"> Delete </button>
</form>
</div>
</div>
</li>
</ul>
</div>
<div class="link" style="padding-left: 50px; font-weight: bold; padding-top: 0px;">
<a href="/additem/{{key}}"> Add Item </a><br><br>
</div>
<div class="link" style="padding-left: 50px; font-weight: bold; padding-top: 0px;">
<a href="/edit/{{key}}"> Edit Shoppinglist Name </a><br><br>
</div>
{% endfor %}
</div>
</div>
</div>

{% endblock %}